@tailwind base;
@tailwind components;
@tailwind utilities;
.app-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.content {
  position: absolute;
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 4rem;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .content {
    font-size: 20px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .content {
    font-size: 46px;
  }
}
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
